In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df = pd.read_csv('../heart_clean.csv')

In [52]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [55]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

# Converting Categorical Features

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917 entries, 0 to 916
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             917 non-null    int64
 1   Sex             917 non-null    object
 2   ChestPainType   917 non-null    object
 3   RestingBP       917 non-null    int64
 4   Cholesterol     917 non-null    int64
 5   FastingBS       917 non-null    int64
 6   RestingECG      917 non-null    object
 7   MaxHR           917 non-null    int64
 8   ExerciseAngina  917 non-null    object
 9   Oldpeak         917 non-null    float64
 10  ST_Slope        917 non-null    object
 11  HeartDisease    917 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.1+ KB

In [43]:
# Creating dummies valuables
df = pd.get_dummies(data=df,drop_first=True)

In [44]:
df.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [49]:
df.drop('HeartDisease', axis = 1)

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,45,110,264,0,132,1.2,1,0,0,1,1,0,0,1,0
913,68,144,193,1,141,3.4,1,0,0,0,1,0,0,1,0
914,57,130,131,0,115,1.2,1,0,0,0,1,0,1,1,0
915,57,130,236,0,174,0.0,0,1,0,0,0,0,0,1,0
916,38,138,175,0,173,0.0,1,0,1,0,1,0,0,0,1

In [48]:
df.drop('HeartDisease', axis = 1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917 entries, 0 to 916
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                917 non-null    int64
 1   RestingBP          917 non-null    int64
 2   Cholesterol        917 non-null    int64
 3   FastingBS          917 non-null    int64
 4   MaxHR              917 non-null    int64
 5   Oldpeak            917 non-null    float64
 6   Sex_M              917 non-null    uint8
 7   ChestPainType_ATA  917 non-null    uint8
 8   ChestPainType_NAP  917 non-null    uint8
 9   ChestPainType_TA   917 non-null    uint8
 10  RestingECG_Normal  917 non-null    uint8
 11  RestingECG_ST      917 non-null    uint8
 12  ExerciseAngina_Y   917 non-null    uint8
 13  ST_Slope_Flat      917 non-null    uint8
 14  ST_Slope_Up        917 non-null    uint8
dtypes: float64(1), int64(5), uint8(9)
memory usage: 51.2 KB

# Model Building

In [7]:
# model selection - Creating a train test split
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('HeartDisease', axis = 1), df['HeartDisease'], test_size=0.30, random_state=42)

In [9]:
# Logistic Regression - Training and predicting the model
from sklearn.linear_model import LogisticRegression

In [10]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\tango\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
predictions = logmodel.predict(X_test)

In [12]:
# Evaluating the model
from sklearn.metrics import classification_report, confusion_matrix

In [13]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.81      0.89      0.85       107
           1       0.92      0.87      0.90       169

    accuracy                           0.88       276
   macro avg       0.87      0.88      0.87       276
weighted avg       0.88      0.88      0.88       276

In [14]:
print(confusion_matrix(y_test,predictions))

[[ 95  12]
 [ 22 147]]

In [15]:
# Random Forest classifier -Training and predicting the model
from sklearn.ensemble import RandomForestClassifier

In [16]:
rfcmodel = RandomForestClassifier(n_estimators=600)
rfcmodel.fit(X_train,y_train)

RandomForestClassifier(n_estimators=600)

In [17]:
rfcpredictions = rfcmodel.predict(X_test)

In [18]:
# Evaluting the model
print(classification_report(y_test,rfcpredictions))

              precision    recall  f1-score   support

           0       0.82      0.84      0.83       107
           1       0.90      0.88      0.89       169

    accuracy                           0.87       276
   macro avg       0.86      0.86      0.86       276
weighted avg       0.87      0.87      0.87       276

In [19]:
print(confusion_matrix(y_test,rfcpredictions))

[[ 90  17]
 [ 20 149]]

In [20]:
import pickle
pickle.dump(rfcmodel, open('heat_failure_rfcmodel.pkl', 'wb'))